include _parts.pug
include _header.pug

+part_title_page("Профиль")

mixin shop_message(image,name,time,message)
	.shop_message
		.logo
			img(src=image)
		.descriptions
			.title
				a= name
				p= time
			.text
				p= message

mixin person_massage(image,name,time,message)
	.person_massage
		.logo
			img(src=image)
		.descriptions
			.title
				a= name
				p= time
			.text
				p= message

.profile_block
	.site_width
		.block
			.avatar(style='background: url("img/user_150x150.jpg")')
			.info
				.username Тирион Ланистер
				.stat
					.item
						.num 94
						.text Заказов
					.item
						.num 12 623
						.text Кешбэк
					.item
						.num 89 048
						.text Вы сэкономили
					.item
						.num 1 000 000
						.text Баланс
					.item
						.num 1 520
						.text Бонус

		+part_sort("Новым","Старым","а-я")

		.content_block
			.side_block
				.menu
					.item
						i.material-icons dehaze
						.text Главная
					.item
						i.material-icons turned_in
						.text Мои заказы
					.item
						i.material-icons local_play
						.text Мои купоны
					.item
						i.material-icons favorite
						.text Избранное
					.item
						i.material-icons people
						.text Подписки
						.num 7
					.item
						i.material-icons notifications
						.text Уведомления
						.num 4
					.item
						i.material-icons mail
						.text Сообщения
						.num 12
					.item.active
						i.material-icons settings
						.text Настройки
				+part_profile_statistic_shop([ 
				{ title: 'Белый ветер', voted: 901 }, 
				{ title: 'Крендель', voted: 420 },
				{ title: 'Технодом', voted: 345 }, 
				{ title: 'Мечта', voted: 469 }, 
				{ title: 'Айнур', voted: 522 }, 
				])

			.main_block
				+part_search("искать в сообщениях")
				.main_chat
					.block_chat
						+shop_message("img/dialogue/monkey.png","Белый ветер","20 марта 12:45","Вы можете получить сво товар в ближайшем магазине.")
						+person_massage("img/user.jpg","Тирион Ланистер","21 марта 23:30","Спасибо за ответ.")
						+shop_message("img/dialogue/monkey.png","Белый ветер","22 марта 12:24","Всегда пожалуйста,обращайтесь.")
					.block_input_chat
						textarea(placeholder="Написать сообщение")
						button отправить

include _footer.pug