extends dash/_layout.pug

block title
		title Chocokiller Shop

block content

		mixin subscribers(image, name, value, login, number)
			.subscribers_content
				.logo
					img(src=image)
				.item.name
					p= name
				.item
					p= value
				.item
					p= login
				.item
					p= number
				.item.options_hide
					i.material-icons more_vert
					.options.hide
						.title
							p Подписчик
						button.ban(type='button') Заблокировать
						.content
							p Роли в магазине:
							.item
								p Администратор
								+part('checkbox', {})
							.item
								p Продавец
								+part('checkbox', {})
							.item
								p Редактор
								+part('checkbox', {})
						button.offer(type='button') Предложить

		.content_title Подписичики

		.wrap
			.date
				i.material-icons date_range
				select
					option За сегодня
				input(placeholder="имя логин")
			.hides

			+part_sort("новые","полу","кол-во заказов","а-я")
		.wrap
			.brim
				.item
					p Имя
				.item
					p Кол-во заказов
				.item
					p Логин
				.item
					p Телефон

		.wrap
			+subscribers("/img/user.jpg" ,"Тирион Ланистер", "53", "Tirion_449", "+7 775 123456")
			+subscribers("/img/user.jpg" ,"Тирион Ланистер", "53", "Tirion_449", "+7 775 123456")
			+subscribers("/img/user.jpg" ,"Тирион Ланистер", "53", "Tirion_449", "+7 775 123456")

		script.
			var check = 0;
			u('.options_hide').on("click", function(){				
				u(this).children(".options").toggleClass("hide");
			});
			u('.options').children("button").on("click", function(){
				u(".options").toggleClass("toggleClass");
			});

